:root {
  --mainColor: #4caf50;
  --blueLight: #f0f2f5;
}

.bg-main-left {
  background-image: linear-gradient(to left, #dadada, var(--mainColor));
}

.bg-main-right {
  background-image: linear-gradient(to right, #dadada, var(--mainColor));
}

.bg-main-top {
  background-image: linear-gradient(to top, #dadada, var(--mainColor));
}

.bg-main-bottom {
  background-image: linear-gradient(to bottom, #dadada, var(--mainColor));
}

.bg-main-color {
  background-color: var(--mainColor);
}

.bg-main-color-opacity {
  background-color: #4caf4fbe;
}

.text-main-color {
  color: var(--mainColor);
}

.bg-light-blue {
  background-color: var(--blueLight);
}

.text-light-blue {
  color: var(--blueLight);
}

.text-white {
  color: #fff;
}
